main {
    width: 55%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

#input_search {
    width: 70%;
    border-radius: 5%;
    padding: 2%;
}

#buttons {
    width: 65%;
    margin: 0 auto;
}

.page_btn {
    padding: 2%;
    width: 25%;
    margin: 1%;
    border: none;


}

.page_btn .search:hover{
    border: 1px solid black;
}
}